{{#link-to 'products' product.id}}
  <h4>{{product.name}}</h4>
  <img src={{product.image}} alt="" />
  <p>{{product.description}}</p>
  <p>{{product.price}}</p>
{{/link-to}}
<button class="btn btn-primary" {{action 'addToCart' product}}>Add to Cart</button>
