<div class="row">
  <div class="col-md-6">
    <img src={{product.image}}>
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p><strong>${{product.price}}.00</strong></p>
    <button class="btn btn-success" {{action 'addToCart' product}}>Add to Cart</button>
    {{new-review saveReview="saveReview" product=product}}
  </div>
</div>
{{#each sortedReviews as |review|}}
  {{review-tile review=review deleteReview="deleteReview"}}
{{/each}}
